<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">Login</h2>
            <span class="text-light">Use the below form to Login</span>
        </div>
        <form action="/api/login" method="POST" class="login">
          <div class="new_user">
              <div class="form-group">
                  <label for="email" class="text-light">Email/Username</label>
                  <input type="text" id="email" name="email" autocomplete="off" required>
              </div>
              <div class="form-group">
                  <label for="Password" class="text-light">Password</label>
                  <input type="password" id="password" name="password" autocomplete="off" required>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn text-dark update" style="color: white;">Login</button>
              </div>
          </div>
        </form>
        <a href="/api/register"><i class="fas fa-angle-double-right"></i>Register here</a>
        <a href="/"><i class="fas fa-angle-double-right"></i>Go Back to Main Page</a>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
